<div class="page-header">
    <h1>Détails de patient</h1>
    <div class="clearfix"></div>
</div>
<form ng-submit="createPatient()" style="margin-top:30px;">
	<div class="form-group">
	  <input type="text"
		class="form-control"
		placeholder="Nom"
		ng-model="lastname"></input>
	</div>
	<div class="form-group">
	  <input type="text"
	  class="form-control"
	  placeholder="Prénom"
	  ng-model="firstname"></input>
	</div>
	<div class="form-group">
	  <input type="text"
	  class="form-control"
	  placeholder="Mail"
	  ng-model="email"></input>
	</div>
	<div class="form-group">
	<div class="form-inline">
	  <input type="text"
	  class="form-control"
	  placeholder="Téléphone #1"
	  ng-model="phone"></input>
	
	  <input type="text"
	  class="form-control"
	  placeholder="Téléphone #2"
	  ng-model="phone2"></input>
	</div>
	</div>
	
	<div class="form-group">
	  <input type="text"
	  class="form-control"
	  placeholder="Adresse"
	  ng-model="address"></input>
	</div>
	
	<div class="form-group">
	<div class="form-inline">
	  <input type="text"
	  class="form-control"
	  placeholder="Code postal"
	  ng-model="zipcode"></input>
	<input type="text"
	  class="form-control"
	  placeholder="Ville"
	  ng-model="city"></input>
	 </div>
	</div>	 
	<a href="#/home"><button class="btn btn-primary">Retour</button></a>
	<button type="submit" class="btn btn-primary pull-right">Créer</button>
</form>
	