	<div class="page-header">
		<h3>
			Edition de patient
		</h3>
	</div>
	<!--<form ng-submit="updatePost(post)" style="margin-top:30px;">-->
	<form style="margin-top:30px;">
	 <!--
		<div class="form-group">
			<input type="text"
				class="form-control"
				placeholder="Title"
				ng-model="post._id">
			</input>
        </div>
		-->
		<div class="form-group">
			<input type="text"
				class="form-control"
				placeholder="Title"
				ng-model="post.title"
				id="title">
			</input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
		  placeholder="Link"
          ng-model="post.link"
		  id="link"></input>
        </div>
		<a href="#/posts"><button class="btn btn-primary">Annuler</button></a>
        <button ng-click="deletePost(post)" class="btn btn-danger">Supprimer</button>
		<!--<button type="submit" class="btn btn-primary">Sauvegarder</button>-->
		<button ng-click="updatePost(post)" class="btn btn-primary">Sauvegarder</button>
	</form>
	